.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

/* Media query per nascondere/mostrare componenti */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
